dev:
  favqs_api_key: your_favqs_api_key
  twitter:
    consumer_key: your_consumer_key
    consumer_secret: your_consumer_secret
    access_key: your_access_key
    access_secret: your_access_secret

staging:
  favqs_api_key: your_favqs_api_key
  twitter:
    consumer_key: your_consumer_key
    consumer_secret: your_consumer_secret
    access_key: your_access_key
    access_secret: your_access_secret

prod:
  favqs_api_key: your_favqs_api_key
  twitter:
    consumer_key: your_consumer_key
    consumer_secret: your_consumer_secret
    access_key: your_access_key
    access_secret: your_access_secret

default:
  favqs_api_key: your_favqs_api_key
  twitter:
    consumer_key: your_consumer_key
    consumer_secret: your_consumer_secret
    access_key: your_access_key
    access_secret: your_access_secret